{% extends '@App/base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-light bg-light">
        <span id="logo" class="btn-answer navbar-brand">
            <img src="{{ asset('img/logo.png') }}" height="55" alt="">
        </span>
    </nav>
    <div class="container soon">
        <h2>Aun estamos trabajando en ello.</h2>
        <i class="fa fa-hourglass-half"></i>
    </div>

{% endblock %}
