<div class="divlogo flex"><img class="logo" src="{{ asset('img/logo.png') }}" alt="logo"></div>
<div class="container">

    <div class="row destacados quest">
        <div class="col-4 q1">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta1"></p>
                    <p class="author">By: <span id="name1"></span></p>
                </div>
            </div>
        </div>
        <div class="col-4 q2">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta2"></p>
                    <p class="author">By: <span id="name2"></span></p>
                </div>
            </div>
        </div>
        <div class="col-4 q3">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta3"></p>
                    <p class="author">By: <span id="name3"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row destacados quest">
        <div class="col-4 q4">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta4"></p>
                    <p class="author">By: <span id="name4"></span></p>
                </div>
            </div>
        </div>
        <div class="col-4 q5">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta5"></p>
                    <p class="author">By: <span id="name5"></span></p>
                </div>
            </div>
        </div>
        <div class="col-4 q6">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta6"></p>
                    <p class="author">By: <span id="name6"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row destacados quest">
        <div class="col-4 q7">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta7"></p>
                    <p class="author">By: <span id="name7"></span></p>
                </div>
            </div>
        </div>
        <div class="col-4 q8">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta8"></p>
                    <p class="author">By: <span id="name8"></span></p>
                </div>
            </div>
        </div>
        <div class="col-4 q9">
            <div class="card clickresultados" style="width: 100%;">
                <div class="card-body">
                    <p class="pregunta9"></p>
                    <p class="author">By: <span id="name9"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('js/encuestasdestacadas.js') }}"></script>
<script src="{{ asset('js/redireclogin.js') }}"></script>