{% extends '@App/base.html.twig' %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <script src="{{ asset('js/redireccion.js') }}"></script>
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item encuestastop">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-check-square"></i> Encuestas Destacadas</a>
        </li>
        <li class="nav-item login">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-user"></i> Login</a>
        </li>
    </ul>

    <div class="container contentajax"></div>
    <script src="{{ asset('js/login.js') }}"></script>
    <script src="{{ asset('js/tabs.js') }}"></script>
    <script src="{{ asset('js/encuestasUsuario.js') }}"></script>

{% endblock %}