{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuaris list</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Admin</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuari in usuaris %}
            <tr>
                <td><a href="{{ path('usuari_show', { 'id': usuari.id }) }}">{{ usuari.username }}</a></td>
                <td>{{ usuari.password }}</td>
                <td>{% if usuari.admin %}Yes{% else %}No{% endif %}</td>
                <td>{{ usuari.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuari_show', { 'id': usuari.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuari_edit', { 'id': usuari.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuari_new') }}">Create a new usuari</a>
        </li>
    </ul>
{% endblock %}
