.tabladmin{
	width:100%;
}

.buttonback{
	position: absolute;
    font-size: 50px;
    bottom: 50px;
    right: 50px;
	transition: all 1s;
}

.buttonback:hover{
    transform: rotate(-360deg);
}

.functionsplus{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    width: 15%;
}

