@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Roboto');

body{
    background-color: white;
}

.nav-link{
    cursor: pointer;
    user-select: none;
    color: #2F666B;
}

.nav{
    margin-bottom: 5%;
}

.dnone{
    display: none;
}

.logo{
    width: 40%;
    height: 40%;
    justify-content: center;
    margin: 5%;
}

.divlogo{
    justify-content: center;
}

.flex{
    display: flex;
}

.destacados{
    margin-bottom: 5%;
}

.destacados .col-4 .card .card-body{
    border: 20px solid #2F666B;
    padding: 2%;
    background-color: white;
    color: black;
    transition: all 1s;
    cursor: pointer;
    height: 150px;
}

.destacados .col-4 .card .card-body:hover{
    border: 2px solid #2F666B;
    background-color: white;
    color: #2F666B;
}

.destacados .col-4 .card .card-body .author{
    color: transparent;
    font-size: 15px;
    transition: all 1s;
}

.destacados .col-4 .card .card-body:hover .author{
    color: #000;
}

.destacados .col-4 .card .card-body p{
    font-size: 30px;
    text-align: center;
    transition-duration: 1s;
}

.destacados .col-4 .card .card-body:hover p{
    text-align: center;
    margin-top: 20px;
}

.btn{
    background-color: #2F666B;
    color: white;
    width: 100%;
    margin-top: 6%;
}

.btn:hover, btn:active{
    background-color: #2F666B !important;
}

.quest{
    font-family: 'Euphoria Script', cursive;
    text-transform: capitalize;
    text-align: center;
}

.error{
    font-family: 'Roboto', sans-serif;
    color: red;
}

.contenido{
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.loginsquare{
    padding: 6%;
    padding-top: 0%;
}

.card-body-pregunta{
    display: flex;
    justify-content: space-between;
}

.card-body-pregunta .btn-answer{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #2F666B;
    border-color: #2F666B;
    transition: all .5s;
    box-shadow: 4px 4px #0cd49c;
}

.card-body-pregunta .btn-answer:hover{
    color: #2F666B;
    background-color: #fff;
}

.card-body-pregunta .btn-answer:active{
    transform: translateY(4px);
    box-shadow: 0px 0px #0cd49c;
}

.dnone{
    display: none;
}

.m3{
    margin-bottom: 3%;
    border-color: #0cd49c;
}

.destacada{
    border-color: gold !important;
}

.destacada .btn-answer{
    box-shadow: 4px 4px gold;
}

.destacada .btn-answer:active{
    box-shadow: 0px 0px gold;
}

.caducada{
    border-color: red !important;
}

.caducada .btn-answer{
    box-shadow: 4px 4px red;
}

.caducada .btn-answer:active{
    box-shadow: 0px 0px red;
}

.btn-answer{
    cursor: pointer;
}

.admindash{
    margin-top: 15%;
}

.userpolllist{
    margin-top: 7%;
}

.admindash div .fa{
    font-size: 100px;
    cursor: pointer;
}

.admindash div p{
    font-size: 15px;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.fa-plus{color: greenyellow;}
.fa-edit{color: cornflowerblue;}
.fa-cogs{color: grey;}


.finished{
    color : red;
}


.soon .fa{
    animation: arena 2s infinite;
}

@keyframes arena {
    0% {transform: rotate(0deg)}
    35% {transform: rotate(0deg)}
    50% {transform: rotate(180deg)}
    85% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}
