{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <span id="logo" class="btn-answer navbar-brand">
        <img src="{{ asset('img/logo.png') }}" height="55" alt="">
    </span>
    <span class="functionsplus"><a href="{{ path('enquesta_new') }}"><i class="fa fa-plus"></i></a></span>
    <p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><a id="backtodash" href="{{ path('homepage') }}" class="btn-answer">Dashboard <i class="fa fa-user-circle"></i></a></p>
	</nav>
	<div class="container">
    <h1>Editar enquesta</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    
    {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
    {{ form_end(delete_form) }}

</div>
<a class="buttonback" href="{{ path('enquesta_index') }}"><i class="fa fa-undo"></i></a>
<script src="{{ asset('js/adminback.js') }}"></script>
<script src="{{ asset('js/validation_enquestes.js') }}"></script>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#appbundle_enquesta_pregunta").attr("readonly","");
    })
</script>
{% endblock %}
