{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <span id="logo" class="btn-answer navbar-brand">
        <img src="{{ asset('img/logo.png') }}" height="55" alt="">
    </span>
    <span class="functionsplus"><a href="{{ path('enquesta_new') }}"><i class="fa fa-plus"></i></a></span>
    <p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><span id="backtodash" class="btn-answer">Dashboard <i class="fa fa-user-circle"></i></span></p>
	</nav>
	<div class="container">  
    <h1>Enquesta</h1>

    <table>
        <tbody>
            <tr>
                <th>Pregunta</th>
                <td>{{ enquestum.pregunta }}</td>
            </tr>
            <tr>
                <th>Respostes</th>
                <td>
                    <ul>
                        {% set si, no = 0, 0 %}
                        {% for resposta in respostes %}
                            {% if resposta.idEnquesta == enquestum.id %}
                                {% if resposta.valor == 1 %}
                                    {% set si = si+1 %}
                                {% else %}
                                    {% set no = no+1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <li>
                            Si: {{ si }}
                        </li>
                        <li>
                            No: {{ no }}
                        </li>
                        <li>
                            Total: {{ si + no }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Data inici</th>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Data final</th>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destacada</th>
                <td>
                    {% if enquestum.destacada == 1 %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ enquestum.autor }}</td>
            </tr>
            <tr>
                <th>Activa</th>
                <td>
                    {% if date(enquestum.dataFinal) > date("now"|date("Y/m/d")) %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ enquestum.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enquesta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('enquesta_edit', { 'id': enquestum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
    <a class="buttonback" href="{{ path('enquesta_index') }}"><i class="fa fa-undo"></i></a>
<script src="{{ asset('js/adminback.js') }}"></script>
{% endblock %}
